.overImg2{
    background-image: url(/public/images/Pattern.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
}

.sliderPart2{
    background-image: url(/public/images/Image\ \(13\).png);
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.overImg2 h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    color: #274C5B;
    padding: 184px 0px 0px 879px;
}

@media screen and (max-width: 500px) and (min-width: 340px){
    .first .sliderPart2 {
        height: 140px;
        width: 100%;
        background-size: cover;
    }
    .first .overImg2{
        height: 140px;
        width: 100%;
        background-size: cover;
    }
    .overImg2 h1{
        text-align: center;
        padding:63px 0px 0px 0px;
        line-height: 15px;
        font-size: 30px;
    }  
}